:root{
  --bg-2: #50a9d6;
  --bg-1: #69bde7;
  --bg-3: rgb(56, 165, 238, 0.5);
  --bg-hover: #3498db;
  --white: #fff;

  --main-color: #644d39;

  --triplepurple:#68232c;
  --triplepurple-2:#8e7075;
  --triplepurple-3:#bc747d;
  --triplepurple-4:#290a0d;
  --triplepurple-5:#b48b9c;

  --orange:#eb8d15;
  --orange-2:#f9d179;
  --orange-3:#edb572;
  --orange-4:#4f4a4b;
  --orange-5:#873f09;

  --pink:#df5a6c;
  --pink-2:#f4abbc;
  --pink-3:#e098a0;
  --pink-4:#5d5f66;
  --pink-5:#cd2f3c;

  --green:#344411;
  --green-2:#344411;
  --green-3:#58792f;
  --green-4:#919591;
  --green-5:#f17602;

  --caju:#bcb63c;
  --caju-2:#dbd994;
  --caju-3:#5f6a3a;
  --caju-4:#4a4b47;
  --caju-5:#79792e;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


/* NUEVO SLIDER */

.slider-frame{
  width: 1280px;
  height: auto;
  margin: 50px auto 0;
  overflow: hidden;

}
.slider-frame ul{
  display: flex;
  padding: 0;
  width: 400%;

  animation: slide 15s infinite alternate ease;
}

.slider-frame li{
  list-style: none;
  /* width: 100%; */

}
.slider-frame img{
  width: 100%;
  max-height: 700px;
}  

@keyframes slide{
  0%{margin-left: 0%;}
  20%{margin-left: 0%;}

  25%{margin-left: -100%;}
  45%{margin-left: -100%;}

  50%{margin-left: -200%;}
  70%{margin-left: -200%;}

  75%{margin-left: -300%;}
  100%{margin-left: -300%;}
}

/* NUEVO SLIDER */

html{
  scroll-behavior: smooth;
/* background: var(--main-color); */
  background-image: linear-gradient(to right bottom, #928b76, #ccc2af , #f1dccd); 
  height: 100%;
}

body{
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
}

/* fonts */
.sarina-regular {
  font-family: "Sarina", cursive;
  font-weight: 400;
  font-style: normal;
}

.cutive-regular {
  font-family: "Cutive", serif;
  font-weight: 400;
  font-style: normal;
}

/* <uniquifier>: Use a unique and descriptive class name
    <weight>: Use a value from 100 to 900 */

.chivo-light {
  font-family: "Chivo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}
.chivo-regular {
  font-family: "Chivo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.chivo-bold {
  font-family: "Chivo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}


.averia-serif-libre-light {
  font-family: "Averia Serif Libre", serif;
  font-weight: 300;
  font-style: normal;
}

.averia-serif-libre-regular {
  font-family: "Averia Serif Libre", serif;
  font-weight: 400;
  font-style: normal;
}

.averia-serif-libre-bold {
  font-family: "Averia Serif Libre", serif;
  font-weight: 700;
  font-style: normal;
}

.averia-serif-libre-light-italic {
  font-family: "Averia Serif Libre", serif;
  font-weight: 300;
  font-style: italic;
}

.averia-serif-libre-regular-italic {
  font-family: "Averia Serif Libre", serif;
  font-weight: 400;
  font-style: italic;
}

.averia-serif-libre-bold-italic {
  font-family: "Averia Serif Libre", serif;
  font-weight: 700;
  font-style: italic;
}
/* fonts ends */

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

header{
  position: sticky;
  top: 0px;
  /* background-color: var(--main-color); */
  width: 100%;
  z-index: 1000;
}

.container{ /* header */
  max-width: 115rem;
  padding: 0 2rem;
  margin: 0 auto;
  display: flex;
  position: relative;
  height: 120px;
}

.logo-container{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-container h3{
  color: var(--main-color); /* COLOR QUE CAMBIA*/
}

.btn-carrito{
  width: 70px;
  height: 70px;
  background: none;
  border-color: var(--white);
  border-radius: 50%;
  background-color: var(--main-color); /* COLOR QUE CAMBIA*/
}

.carrito{
  color: var(--white);
}

.nav-btn{
  flex: 3;
  display: flex;
  align-items: center;
}

.nav-links{
  /* flex: 2; */
  font-weight: 600;
}

.logo{
  color: var(--main-color); /* COLOR QUE CAMBIA*/
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 3rem;
}

.logo-2{
  color: var(--white);
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: 2px;
  line-height: 3rem;
  padding-right: 10px;
}

.logo span{
  font-weight: 300;
}

.btn{
  display: inline-block;
  padding: .5rem 1.3rem;
  font-size: .8rem;
  border: 2px solid var(--white);
  border-radius: 2rem;
  line-height: 1;
  margin: 0 .2rem;
  transition: .3s;
  text-transform: uppercase;
  
}

.btn.transparent, .btn.solid:hover{
  background-color: transparent;
  color: var(--white);
}

.nav-links > ul{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* padding-right:50px ; */
}

.nav-link{
  position: relative;
  /* padding: 0 20px; */
}

.nav-link > a{
  line-height: 3rem;
  color: var(--main-color); /* COLOR QUE CAMBIA*/
  padding: 0 .8rem;
  letter-spacing: 1px;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: .5s;
}

.nav-link > a > i{
  margin-left: .2rem;
}

.nav-link:hover > a{
  transform: scale(1.1);
}

/* BOTON DE MENU */
.hamburger-menu-container{
  flex: 1;
  display: none;
  align-items: center;
  justify-content: flex-end;
}

.hamburger-menu{
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.hamburger-menu div{
  width: 1.6rem;
  height: 3px;
  border-radius: 3px;
  background-color: var(--white);
  position: relative;
  z-index: 1001;
  transition: .5s;
}

.hamburger-menu div:before,
.hamburger-menu div:after{
  content: '';
  position: absolute;
  width: inherit;
  height: inherit;
  background-color: var(--white);
  border-radius: 3px;
  transition: .5s;
}

.hamburger-menu div:before{
  transform: translateY(-7px);
}

.hamburger-menu div:after{
  transform: translateY(7px);
}

#check{
  position: absolute;
  top: 50%;
  right: 1.5rem;
  transform: translateY(-50%);
  width: 2.5rem;
  height: 2.5rem;
  z-index: 90000;
  cursor: pointer;
  opacity: 0;
  display: none;
}

#check:checked ~ .hamburger-menu-container .hamburger-menu div{
  background-color: transparent;
}

#check:checked ~ .hamburger-menu-container .hamburger-menu div:before{
  transform: translateY(0) rotate(-45deg);
}

#check:checked ~ .hamburger-menu-container .hamburger-menu div:after{
  transform: translateY(0) rotate(45deg);
}
/* BOTON DE MENU ENDS*/

@keyframes animation{
  from{
      opacity: 0;
      transform: translateY(15px);
  }
  to{
      opacity: 1;
      transform: translateY(0px);
  }
}

@media (max-width: 920px){
  .hamburger-menu-container{
      display: flex;
  }

  #check{
      display: block;
  }

  .nav-btn{
    /* CAMBIAR AQUI WIDTH DE NAVBUTN Y QUE SE ABRA POR DERECHA*/
      position: fixed;
      height: calc(100vh - 3rem);
      top: 3rem;
      left: 0;
      width: 100%;
      background-color: var(--main-color); /* COLOR QUE CAMBIA*/
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      overflow-x: hidden;
      overflow-y: auto;
      transform: translateX(100%);
      transition: .65s;
  }

  #check:checked ~ .nav-btn{
      transform: translateX(0);
  }

  #check:checked ~ .nav-btn .nav-link{
      animation: animation .5s ease forwards var(--i);
  }

  .nav-links{
      flex: initial;
      width: 100%;
  }

  .nav-links > ul{
      flex-direction: column;
  }

  .nav-link{
      width: 100%;
      opacity: 0;
      transform: translateY(15px);
  }

  .nav-link > a{
      line-height: 1;
      padding: 1.6rem 2rem;
      color: var(--white);
  }

  .nav-link:hover > a{
      transform: scale(1);
      background-color: var(--main-color); /* COLOR QUE CAMBIA*/
  }

  .nav-link:hover > a > i{
      transform: rotate(360deg);
  }

  .nav-link > a > i{
      font-size: 1.1rem;
      transform: rotate(-90deg);
      transition: .7s;
  }
}


/* MAIN */
.container-2{
  max-width: 115rem;
  padding: 0 2rem;
  margin: 0 auto;
  display: flex;
  position: relative;
}

.socials{
  display: flexbox;
  align-self: self-end;
  flex: 2;
  text-align: center;
  padding-bottom: 5%;
}

.socials p{
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 15px;
  color: var(--main-color); /* COLOR QUE CAMBIA*/
}

.redes{
  list-style-position: inside;
}

.redes > li{
  padding-top: 5px;
}

.redes > li > a > .icon{
  color: var(--white); /* COLOR QUE CAMBIA*/
  border: solid var(--main-color);
  background-color:var(--main-color);
  border-radius: 50%;
  padding: 5px;
}

.empty{
  display: flex;
  flex: 4;
}

.img{
  display: flex;
  flex: 5;
  justify-content: center;
  align-items: center;

  /* agregado en el slide */
  position: relative;
  overflow: hidden;
  width: 600px; /* ajusta según tu necesidad */
  height: 600px;
}

.img-slide {
  position: absolute;
    top: 0;
    /* left: 0; */
    /*width: 100%;  Las imágenes ocupan todo el ancho del contenedor */
    /* height: 100%;  Ajusta a la altura del contenedor */
    transition: transform 0.7s ease;
}

.hidden {
  display: none;
}

.slide-out {
  transform: translateX(-200%);
}

.slide-in {
  display: block;
  transform: translateX(250%);
}

.active {
  transform: translateX(0);
}

/* slide ends */

.content{
  display: flexbox;
  flex: 5;
  color: var(--white);
  text-align: left;
  padding-top: 5%;
}

.extra{
  border: 2px solid var(--triplepurple-3); /* COLOR QUE CAMBIA*/
  border-radius: 25px;
  margin-right: 75%;
  /* padding-left: 10px; */
  font-size: 1rem;
  font-weight: 600;
  padding: 10px 0 10px 12px;
  color: var(--triplepurple-3); /* COLOR QUE CAMBIA*/
}

.title{
  font-size: 5rem;
  font-weight: 800;
  /* padding-top: 20px; */
  padding-bottom: 40px;
  line-height: 80px;
  color: var(--triplepurple);
}

.subtitle{
  font-size: 1.7rem;
  padding-bottom: 30px;
  color: var(--triplepurple-2);
}

.description{
  font-size: 1.1rem;
  padding-bottom: 30px;
  color: var(--triplepurple-5);
}

/* BUTTON */
  .cssbuttons-io-button {
    background: var(--triplepurple);
    color: white;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em var(--triplepurple-2);
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
    cursor: pointer;
  }

  .cssbuttons-io-button .icon {
    background: white;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em var(--triplepurple-4);
    right: 0.3em;
    transition: all 0.3s;
  }

  .cssbuttons-io-button:hover .icon {
    width: calc(100% - 0.6em);
  }

  .cssbuttons-io-button .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: var(--triplepurple-4);
  }

  .cssbuttons-io-button:hover .icon svg {
    transform: translateX(0.1em);
  }

  .cssbuttons-io-button:active .icon {
    transform: scale(0.95);
  }

/* BUTTON ENDS */


/* MAIN ENDS*/